@font-face {
    font-family: "p5Font";
    src: url(fonts/p5hatty.ttf);

}

@font-face {
    font-family: "p5Font2";
    src: url(fonts/Persona5MenuFontPrototype-Regular.ttf);

}


body {
    text-align: center;
}

.container {
    border: 1px solid white;
    width: 650px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 70px;
}

.h1 {
    font-family: "p5Font2";

}

.h2 {
    font-family: "p5Font";

}


.panel-input {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

#input {
    width: 300px;
    height: 30px;
    border: 2px solid black;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    font-size: 17;
    font-family: "p5Font";
}

.button {

    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    position: fixed;
    top: 150%;
    left: 25%;
    cursor: pointer;
}

a {
   
    display: block;
    width: 150px;
    height: 33px;
    border: 1px solid black;
    border-radius: 15px;
}

a span {
    position: relative;
    z-index: 2;
}

a:after {
    border-radius: 15px;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: black;
    transition: all .35s;
}

a:hover:after {
    width: 100%;
}

.logo {
    height: 40;
    width: 40;
}

.footer {
    display: block;
    position: absolute;
    bottom: 15;
    left: 300;

}

#message {
    display: block;
    position: absolute;
    bottom: 0;
    left: 500;
    font-family: "p5Font";
    color: black;
    
    
}

.ddd{
    width: 150px;
    height: 33px;
    background: transparent;
    border: none !important;
    font-family: "p5Font";
    line-height: 35px;
    font-size: 18px;
    text-decoration: none;
    
}
.ddd:hover{
    color: #fff;
}

.table-title{
    font-family: "p5Font";
    font-size: 40;
    line-height: 100px;
    
}

.table-list{
    font-family: "p5Font";
    line-height: 50px;
    font-size: 20;
    position: relative;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    
}



